html,body
  background #eee
  height 100%
  font-family proxima-nova, Roboto, sans-serif !important
  font-style normal
  font-weight 100
  overflow hidden !important

a[href], a[href]:visited
  color #3fb1f2
  text-decoration underline

app,main
  position absolute
  width 100%
  height 100%
  top 0

.vertical-left
  border-left 1px solid white
  padding-left 1rem
  margin-left 1rem
  &.thin
    padding-left 0.5rem
    margin-left 0.5rem
  &.black
    border-color black

// Optimize kerning of all text rendered
body, input, textarea, select, button
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased !important

// overwrites for PrimeVUE
.p-component
  font-family proxima-nova, Roboto, sans-serif !important
.p-accordion
  .p-accordion-header-text
    text-transform capitalize
  .p-accordion-tab
    margin-bottom 1rem !important
  .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link
    background white !important
    color #555 !important
    border-color #c8c8c8 !important
  .p-accordion-content
    background #f0f0f0 !important
.p-card .p-card-title
  color #3a4b63 !important
